<form class= "container" 
   #userForm = "ngForm"
(ngSubmit) = "onSubmit(userForm.value)">
<input type= "text" name = "firstname" placeholder="firstname" ngModel>
<br>
<input type= "text" name = "lastname" placeholder="lastname" ngModel>
<br>
<select name= "languages"ngModel>
  <option value = "React">React</option>
  <option value = "Java">Java</option>
  <option value = "PHP">PHP</option>
  <option value = "Angular">Angular</option>
  </select>
  <br><br>
  <input type = "submit" value = "submit">

  </form>